body{
  text-align: center;
  font-family: "Arial";
  color: deeppink;
}
<<<<<<< HEAD
.version{
  width: 25vw;
  color: green;
  border: 3px solid green;

}
=======
>>>>>>> 54e764a2c9a0b584e705a4115e9083b63744949a
